/*

*/

.version.rus /* version checker */
{
	color: #0000FE;
	background-color: #95CCDB;
}

@-ms-viewport
{
	width: 480px;
}

@-webkit-viewport
{
	width: 480px;
}

@-o-viewport
{
	width: 480px;
}

@-moz-viewport
{
	width: 480px;
}

@viewport
{
	width: 480px;
}

.html
{
	background-color: #000000;
}

#page
{
	z-index: 1;
	width: 480px;
	min-height: 631.9573899478078px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
}

#page_position_content,#pu3585-5
{
	width: 0.01px;
}

#u3585-5
{
	z-index: 90;
	width: 90px;
	min-height: 38px;
	background-color: transparent;
	text-transform: uppercase;
	line-height: 11px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
}

#u3585-5:hover p,#u3585-5:hover h1
{
	color: #FFFFFF;
	visibility: inherit;
	line-height: 1.2;
	text-transform: none;
	font-size: 9px;
	text-align: center;
	font-family: '__Micra_5';
	font-weight: 400;
	font-style: normal;
	padding: 1px 0px 0px;
}

#u3587
{
	z-index: 100;
	width: 300px;
	min-height: 35px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: relative;
	margin-right: -10000px;
	left: 90px;
}

#u3586-5
{
	z-index: 95;
	width: 90px;
	min-height: 38px;
	background-color: transparent;
	text-transform: uppercase;
	line-height: 11px;
	color: #7F7F7F;
	position: relative;
	margin-right: -10000px;
	left: 390px;
}

#u3585-5:hover,#u3586-5:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 38px;
	width: 90px;
	margin: 0px -10000px 0px 0px;
}

#u3586-5:hover p,#u3586-5:hover h1
{
	color: #7F7F7F;
	visibility: inherit;
	line-height: 1.2;
	text-transform: none;
	font-size: 9px;
	text-align: center;
	font-family: '__Micra_5';
	font-weight: 400;
	font-style: normal;
	padding: 1px 0px 0px;
}

#u3585,#u3585-3,#u3586,#u3586-3
{
	padding-top: 1px;
}

#pu3515-5
{
	width: 0.01px;
	margin-top: 7px;
}

#u3515-5
{
	z-index: 3;
	min-height: 120px;
	background-color: transparent;
	text-transform: uppercase;
	line-height: 120px;
	font-size: 120px;
}

#u3515-2
{
	letter-spacing: -12px;
}

#u3515-5-bw
{
	z-index: 3;
	min-height: 120px;
	margin-top: 14px;
}

#u3589-4
{
	z-index: 101;
	min-height: 30px;
	background-color: transparent;
	line-height: 11px;
	text-transform: uppercase;
}

#u3589-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	margin: 0px;
}

#u3589-4:hover p,#u3589-4:hover h1
{
	color: #FFFFFF;
	visibility: inherit;
	line-height: 1.2;
	text-transform: none;
	font-size: 9px;
	text-align: center;
	font-family: '__Micra_5';
	font-weight: 400;
	font-style: normal;
	padding: 9px 0px 0px;
}

#u3589-2
{
	padding-top: 9px;
}

#u3589-4-bw
{
	z-index: 101;
	min-height: 30px;
}

#u3574
{
	z-index: 67;
	width: 396px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 42px;
	position: relative;
}

#u3576-11
{
	z-index: 68;
	width: 188px;
	min-height: 70px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../../images/fashion1.png") no-repeat center center;
	background-size: cover;
}

#u3576-11:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 70px;
	width: 188px;
	margin: 0px -10000px 0px 0px;
	background: #FFFFFF url("../../images/fashion1.png") no-repeat center center;
	background-size: cover;
}

#u3576-11:hover p,#u3576-11:hover h1
{
	color: #000000;
	visibility: inherit;
	padding-top: 1px;
	font-size: 9px;
}

#u3576
{
	line-height: 12px;
}

#u3575-11
{
	z-index: 79;
	width: 187px;
	min-height: 70px;
	position: relative;
	margin-right: -10000px;
	left: 209px;
	background: transparent url("../../images/photo1.png") no-repeat center center;
	background-size: cover;
}

#u3575-11:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 70px;
	width: 187px;
	margin: 0px -10000px 0px 0px;
	background: #FFFFFF url("../../images/photo1.png") no-repeat center center;
	background-size: cover;
}

#u3575-11:hover p,#u3575-11:hover h1
{
	color: #000000;
	visibility: inherit;
	line-height: 1.1;
	font-size: 9px;
	text-align: center;
	font-family: '__Micra_5';
	font-weight: 400;
	font-style: normal;
	padding: 1px 0px 0px;
}

#u3576-3,#u3576-5,#u3576-7,#u3576-9,#u3575,#u3575-3,#u3575-5,#u3575-7,#u3575-9
{
	line-height: 11px;
}

#slideshowu3459
{
	z-index: 8;
	width: 0.01px;
	height: 250px;
	position: relative;
}

#u3469
{
	position: absolute;
	width: 480px;
	height: 250px;
	background-color: transparent;
}

#u3469popup
{
	z-index: 9;
}

#u3476
{
	z-index: 10;
	width: 480px;
	height: 250px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u3484
{
	z-index: 12;
	width: 480px;
	height: 250px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u3480
{
	z-index: 14;
	width: 480px;
	height: 250px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u3470
{
	z-index: 16;
	width: 480px;
	height: 250px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u3474
{
	z-index: 18;
	width: 480px;
	height: 250px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u3478
{
	z-index: 20;
	width: 480px;
	height: 250px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u3472
{
	z-index: 22;
	width: 480px;
	height: 250px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u3482
{
	z-index: 24;
	width: 480px;
	height: 250px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../../images/loading.gif") no-repeat center center;
}

#u1783
{
	z-index: 2;
	width: 50px;
	min-height: 25px;
	margin-left: 38px;
	top: -249px;
	margin-bottom: -25px;
}

#u3516
{
	z-index: 33;
	width: 295px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 93px;
	margin-top: 6px;
	position: relative;
}

#u3519
{
	z-index: 57;
	width: 105px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 95px;
	position: relative;
}

#u3520-4
{
	z-index: 58;
	width: 105px;
	min-height: 18px;
	background-color: transparent;
	text-transform: uppercase;
	line-height: 13px;
	color: #7F7F7F;
	position: relative;
}

#u3520-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 105px;
	margin: 0px;
}

#u3521
{
	z-index: 62;
	width: 68px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 18px;
	top: -3px;
	margin-bottom: -3px;
	position: relative;
}

#u3524
{
	z-index: 63;
	width: 25px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u3522
{
	z-index: 65;
	width: 25px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 44px;
}

#u3518-4
{
	z-index: 34;
	width: 171px;
	min-height: 18px;
	background-color: transparent;
	text-transform: uppercase;
	line-height: 13px;
	color: #7F7F7F;
	margin-left: 62px;
	margin-top: 4px;
	position: relative;
}

#u3518-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 171px;
	margin: 4px 0px 0px 62px;
}

#u3526
{
	z-index: 42;
	width: 295px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	top: -5px;
	margin-bottom: -5px;
	position: relative;
}

#u3539
{
	z-index: 51;
	width: 24px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
}

#u3535
{
	z-index: 47;
	width: 24px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 40px;
}

#u3537
{
	z-index: 55;
	width: 30px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 79px;
}

#u3533
{
	z-index: 49;
	width: 25px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 128px;
}

#u3527
{
	z-index: 45;
	width: 29px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 172px;
}

#u3529
{
	z-index: 43;
	width: 36px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 221px;
}

#u3531
{
	z-index: 53;
	width: 24px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 271px;
}

#u3517-4
{
	z-index: 38;
	width: 214px;
	min-height: 16px;
	background-color: transparent;
	text-transform: uppercase;
	line-height: 13px;
	color: #7F7F7F;
	margin-left: 41px;
	position: relative;
}

#u3517-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 214px;
	margin: 0px 0px 0px 41px;
}

#u3520-4:hover p,#u3520-4:hover h1,#u3518-4:hover p,#u3518-4:hover h1,#u3517-4:hover p,#u3517-4:hover h1
{
	text-transform: uppercase;
}

#u3541
{
	z-index: 26;
	width: 240px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 120px;
	margin-top: 5px;
	position: relative;
}

#u3544-4
{
	z-index: 27;
	width: 240px;
	min-height: 11px;
	background-color: transparent;
	text-transform: uppercase;
	line-height: 11px;
	color: #7F7F7F;
	position: relative;
	margin-right: -10000px;
}

#u3544-4:hover
{
	border-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 11px;
	width: 240px;
	margin: 0px -10000px 0px 0px;
}

#u3544-4:hover p,#u3544-4:hover h1
{
	color: #E5097F;
	visibility: inherit;
	line-height: 1.2;
	text-transform: uppercase;
	font-size: 9px;
	text-align: center;
	font-family: '__Micra_5';
	font-weight: 400;
	font-style: normal;
	padding: 2px 0px 0px;
}

#u3544-2
{
	padding-top: 2px;
}

#u3542
{
	z-index: 31;
	width: 13px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 90px;
}

#u3542:hover
{
	width: 13px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

@font-face
{
	font-family: '__Micra_5';
	src: url('../../fonts/micra_allfont_ru_1.eot');
	src: local('☺'), url('../../fonts/micra_allfont_ru_1.woff') format('woff'), url('../../fonts/micra_allfont_ru_1.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face
{
	font-family: '__Edition_5';
	src: url('../../fonts/7fonts_ru_edition_2.eot');
	src: local('☺'), url('../../fonts/7fonts_ru_edition_2.woff') format('woff'), url('../../fonts/7fonts_ru_edition_2.svg') format('svg');
	font-weight: 100;
	font-style: normal;
}

body
{
	position: relative;
	min-width: 480px;
}

#page .verticalspacer
{
	clear: both;
}

