.version.index /* version checker */
{
	color: #000013;
	background-color: #F6D3CB;
}

@-ms-viewport
{
	width: 768px;
}

@-webkit-viewport
{
	width: 768px;
}

@-o-viewport
{
	width: 768px;
}

@-moz-viewport
{
	width: 768px;
}

@viewport
{
	width: 768px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 370px;
	min-height: 485px;
	border-style: none;
	border-color: #000000;
	padding: 20px 194px 141px 204px;
	background: #120200 url("../../images/nova.jpg") no-repeat left center;
	background-size: cover;
}

#u937
{
	z-index: 3;
	width: 72px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 144px;
	position: relative;
}

#u940-4
{
	z-index: 4;
	position: relative;
	width: 29px;
	margin-right: -10000px;
}

#u939
{
	z-index: 12;
	vertical-align: top;
	width: 2px;
	height: 12px;
	position: relative;
	margin-right: -10000px;
	left: 36px;
	background: url("../../images/u939.png") no-repeat 0px 0px;
}

#u938-4
{
	z-index: 8;
	position: relative;
	width: 29px;
	margin-right: -10000px;
	left: 43px;
}

#pu946
{
	width: 0.01px;
	margin-top: 33px;
}

#u946
{
	z-index: 23;
	width: 193px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 84px;
}

#u949
{
	z-index: 25;
	width: 193px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u950
{
	z-index: 26;
	width: 193px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u947
{
	z-index: 24;
	width: 22px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	margin-left: 80px;
	margin-top: 28px;
	position: relative;
}

#u973
{
	z-index: 28;
	width: 370px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 101px;
}

#u974
{
	z-index: 30;
	position: relative;
	width: 180px;
	margin-right: -10000px;
}

#u974_states
{
	height: 70px;
	width: 180px;
	vertical-align: top;
	background: url("../../images/u974_states.png") no-repeat 0px 0px;
}

#u974:hover #u974_states
{
	background: url("../../images/u974_states-r.png") no-repeat 0px 0px;
}

#u975
{
	z-index: 33;
	position: relative;
	width: 180px;
	margin-right: -10000px;
	left: 190px;
}

#u975_states
{
	height: 70px;
	width: 180px;
	vertical-align: top;
	background: url("../../images/u975_states.png") no-repeat 0px 0px;
}

#u975:hover #u975_states
{
	background: url("../../images/u975_states-r.png") no-repeat 0px 0px;
}

#pu184
{
	width: 0.01px;
	margin-left: 29px;
	margin-top: 3px;
}

#u184
{
	z-index: 2;
	width: 40px;
	min-height: 40px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	left: 131px;
}

#u989
{
	z-index: 35;
	width: 303px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 27px;
}

#u953-4
{
	z-index: 40;
	display: block;
	vertical-align: top;
	margin-left: 109px;
	position: relative;
}

#pu957
{
	width: 0.01px;
	margin-left: 112px;
	margin-top: 4px;
}

#u957
{
	z-index: 50;
	width: 33px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u955
{
	z-index: 48;
	width: 32px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 48px;
}

#u952-4
{
	z-index: 36;
	display: block;
	vertical-align: top;
	margin-left: 109px;
	margin-top: 18px;
	position: relative;
}

#pu969
{
	width: 0.01px;
	margin-top: -3px;
}

#u969
{
	z-index: 62;
	width: 32px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
}

#u967
{
	z-index: 60;
	width: 32px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 41px;
}

#u961
{
	z-index: 54;
	width: 33px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 82px;
}

#u971
{
	z-index: 64;
	width: 32px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 128px;
}

#u959
{
	z-index: 52;
	width: 32px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 176px;
}

#u965
{
	z-index: 58;
	width: 40px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 224px;
}

#u963
{
	z-index: 56;
	width: 32px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 271px;
}

#u954-4
{
	z-index: 44;
	display: block;
	vertical-align: top;
	margin-left: 74px;
	margin-top: 15px;
	position: relative;
}

#u941
{
	z-index: 13;
	width: 131px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 115px;
	margin-top: 42px;
	position: relative;
}

#u943
{
	z-index: 14;
	width: 16px;
	background-color: transparent;
	margin-left: 58px;
	position: relative;
}

#u943:hover
{
	background-color: transparent;
	width: 16px;
	min-height: 0px;
	margin: 0px 0px 0px 58px;
}

#u943_img
{
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
}

#u943_img:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#u942-4
{
	z-index: 19;
	margin-left: 32px;
	margin-top: 6px;
	position: relative;
}

#u940-4_img,#u938-4_img,#u942-4_img
{
	display: block;
	vertical-align: top;
}

#u945
{
	z-index: 17;
	margin-top: 6px;
	position: relative;
}

#u945_states
{
	height: 11px;
	width: 131px;
	vertical-align: top;
	background: url("../../images/u945_states.png") no-repeat 0px 0px;
}

#u945:hover #u945_states
{
	background: url("../../images/u945_states-r.png") no-repeat 0px 0px;
}

body
{
	position: relative;
	min-width: 768px;
}

#page .verticalspacer
{
	clear: both;
}

