/*

*/

.version.index /* version checker */
{
	color: #00000A;
	background-color: #1C2889;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 370px;
	min-height: 471px;
	border-style: none;
	border-color: #000000;
	padding: 1px 5px 14px;
	background: #120100 url("../../images/nova.jpg") no-repeat center center;
	background-size: cover;
}

#u1108
{
	z-index: 3;
	width: 72px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 144px;
	position: relative;
}

#u1109-4
{
	z-index: 4;
	position: relative;
	width: 29px;
	margin-right: -10000px;
}

#u1110
{
	z-index: 12;
	vertical-align: top;
	width: 2px;
	height: 12px;
	position: relative;
	margin-right: -10000px;
	left: 36px;
	background: url("../../images/u1110.png") no-repeat 0px 0px;
}

#u1111-4
{
	z-index: 8;
	position: relative;
	width: 29px;
	margin-right: -10000px;
	left: 43px;
}

#pu1117
{
	width: 0.01px;
	margin-top: 28px;
}

#u1117
{
	z-index: 23;
	width: 158px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 1px;
	position: relative;
	margin-right: -10000px;
	left: 106px;
}

#u1120
{
	z-index: 25;
	width: 158px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u1121
{
	z-index: 26;
	width: 158px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1118
{
	z-index: 24;
	width: 18px;
	min-height: 23px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	margin-left: 66px;
	margin-top: 30px;
	position: relative;
}

#u1123
{
	z-index: 28;
	width: 370px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 106px;
}

#u1124
{
	z-index: 30;
	position: relative;
	width: 180px;
	margin-right: -10000px;
}

#u1124_states
{
	height: 70px;
	width: 180px;
	vertical-align: top;
	background: url("../../images/u1124_states.png") no-repeat 0px 0px;
}

#u1124:hover #u1124_states
{
	background: url("../../images/u1124_states-r.png") no-repeat 0px 0px;
}

#u1125
{
	z-index: 33;
	position: relative;
	width: 180px;
	margin-right: -10000px;
	left: 190px;
}

#u1125_states
{
	height: 70px;
	width: 180px;
	vertical-align: top;
	background: url("../../images/u1125_states.png") no-repeat 0px 0px;
}

#u1125:hover #u1125_states
{
	background: url("../../images/u1125_states-r.png") no-repeat 0px 0px;
}

#pu1106
{
	width: 0.01px;
	margin-left: 29px;
	margin-top: 3px;
}

#u1106
{
	z-index: 2;
	width: 40px;
	min-height: 40px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	left: 131px;
}

#u1126
{
	z-index: 35;
	width: 303px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 27px;
}

#u1135-4
{
	z-index: 40;
	display: block;
	vertical-align: top;
	margin-left: 109px;
	position: relative;
}

#pu1140
{
	width: 0.01px;
	margin-left: 112px;
	margin-top: 4px;
}

#u1140
{
	z-index: 50;
	width: 33px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1133
{
	z-index: 48;
	width: 32px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 48px;
}

#u1146-4
{
	z-index: 36;
	display: block;
	vertical-align: top;
	margin-left: 109px;
	margin-top: 18px;
	position: relative;
}

#pu1131
{
	width: 0.01px;
	margin-top: -3px;
}

#u1131
{
	z-index: 62;
	width: 32px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
}

#u1144
{
	z-index: 60;
	width: 32px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 41px;
}

#u1136
{
	z-index: 54;
	width: 33px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 82px;
}

#u1138
{
	z-index: 64;
	width: 32px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 128px;
}

#u1129
{
	z-index: 52;
	width: 32px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 176px;
}

#u1142
{
	z-index: 58;
	width: 40px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 224px;
}

#u1127
{
	z-index: 56;
	width: 32px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 271px;
}

#u1147-4
{
	z-index: 44;
	display: block;
	vertical-align: top;
	margin-left: 74px;
	margin-top: 15px;
	position: relative;
}

#u1287-4
{
	z-index: 66;
	width: 61px;
	min-height: 37px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 29px;
	left: 230px;
}

#u1112
{
	z-index: 13;
	width: 131px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 115px;
	margin-top: 28px;
	position: relative;
}

#u1113
{
	z-index: 14;
	width: 16px;
	background-color: transparent;
	margin-left: 58px;
	position: relative;
}

#u1113:hover
{
	background-color: transparent;
	width: 16px;
	min-height: 0px;
	margin: 0px 0px 0px 58px;
}

#u1113_img
{
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
}

#u1113_img:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#u1116-4
{
	z-index: 19;
	margin-left: 32px;
	margin-top: 6px;
	position: relative;
}

#u1109-4_img,#u1111-4_img,#u1116-4_img
{
	display: block;
	vertical-align: top;
}

#u1115
{
	z-index: 17;
	margin-top: 6px;
	position: relative;
}

#u1115_states
{
	height: 11px;
	width: 131px;
	vertical-align: top;
	background: url("../../images/u1115_states.png") no-repeat 0px 0px;
}

#u1115:hover #u1115_states
{
	background: url("../../images/u1115_states-r.png") no-repeat 0px 0px;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

